* {
    font-family: FontAwesome, 'Fira Code';
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.1);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: @rosewater;
}

#workspaces button {
    padding: 0 5px;
    background-color: @base;
    color: @text;
    border-radius: 6px;
}

#workspaces button:hover {
    background: @mantle;
}

#workspaces button.focused {
    background-color: @crust;
    box-shadow: inset 0 -2px @sky;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @text;
    background-color: @base;
    margin: 0 .5em;
    border-radius: 9999px;
}

#clock.week {
  margin-right: 0px;
  color: @peach;
  border-radius: 9999px 0px 0px 9999px;
}

#clock.year {
  margin: 0px;
  padding: 0px;
  color: @pink;
  border-radius: 0px;
}

#clock.time {
  margin-left: 0px;
  color: @sky;
  border-radius: 0px 9999px 9999px 0px;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.discharging {
    color: @yellow;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging) {
    background-color: @red;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
