* {
    font-family: FontAwesome, 'Fira Code';
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.1);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: rgba(2, 6, 23, 0.5);
    color: rgb(248, 250, 252);
    border-radius: 6px;
}

#workspaces button:hover {
    background: rgba(2, 6, 23, 0.9);
}

#workspaces button.focused {
    background-color: rgba(2, 6, 23, 0.9);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: rgba(69, 10, 10, .9);;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

.modules-center * {
  margin: 0px;
}

.modules-center .week {
  color: #d97706;
  border-radius: 9999px 0px 0px 9999px;
}

.modules-center .year {
  color: #ec4899;
  border-radius: 0px;
}

.modules-center .time {
  color: #0ea5e9;
  border-radius: 0px 9999px 9999px 0px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: rgb(2, 6, 23);
    margin: 0 .5em;
    border-radius: 9999px;
    background-color: rgba(248, 250, 252, .8);
}

#window,
#workspaces {
    margin: 0 4px;
}

#workspaces {
    margin-left: 0;
}

#battery.charging, #battery.plugged {
    color: rgb(240, 253, 244);
    background-color: rgba(5, 46, 22, .8);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging) {
    background-color: rgba(69, 26, 3, .8);
    color: rgb(255, 251, 235);
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgba(69, 10, 10, .8);
    color: rgb(254, 242, 242);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

